html {
    color:#000;
    background:#FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

fieldset,img {
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style:inherit;
    font-weight:inherit;
}

li {
    list-style:none;
}

caption,th {
    text-align:left;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:400;
}

q:before,q:after {
    content:'';
}

abbr,acronym {
    border:0;
    font-variant:normal;
}

legend {
    color:#000;
}

input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}

input,button,textarea,select {
    font-size:100%;
}

html,body {
    background-color:#FFBA54;
}

body {
    min-width:750px;
    max-width:80em;
    font-size:14px;
    color:#59443C;
    position:relative;
    margin:0 auto;
    padding:1em 1em 1em 2em;
}

a:visited {
    color:#8C8281;
}

em {
    font-weight:700;
}

strong {
    font-style:italic;
}

form input,form textarea {
    color:#000;
    border:1px solid;
    background:#FFF;
    vertical-align:middle;
    border-color:#59443C;
    margin:0;
    padding:.2em;
}

form textarea {
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
}

form input[type=hidden] {
    border:none;
}

#toc > ol > li {
    list-style-type:none;
}

#toc ol {
    counter-reset:section;
}

#toc ol li:before {
    counter-increment:section;
    content:counters(section,".") " ";
}

#toc ol > ol {
    counter-reset:subsection;
}

#toc ol > ol li:before {
    counter-increment:subsection;
    content:counters(subsection,".") " ";
}

#menu {
    position: absolute;
    top:2em;
    left:2em;
    z-index:1;
    -moz-box-shadow:4px 12px 10px #444;
    -webkit-box-shadow:4px 12px 10px #444;
    box-shadow:4px 12px 10px #444;
    font-family:"Noto Sans", sans-serif;
    -moz-border-top-left-radius:11px;
    border-top-left-radius:11px;
    -moz-border-top-right-radius:11px;
    border-top-right-radius:11px;
}

#menu ul {
    display:block;
    list-style-type:none;
}

#menu ul li {
    float:left;
    background:#FFF;
    padding:.8em .5em .7em;
}

#menu ul li:first-child /* Insert CHICKEN logo? */ {
    padding-left:1em;
    -moz-border-top-left-radius:10px;
    border-top-left-radius:10px;
}

#menu ul li:last-child {
    padding-right:1.2em;
    -moz-border-top-right-radius:10px;
    border-top-right-radius:10px;
}

#menu hr {
    display:none;
}

#content,#search-results {
    clear:both;
    background-color:#FFF;
    font-family:"Bitstream Vera Sans", Verdana, Arial, sans-serif;
    position:relative;    
    z-index:2;
    margin:3.3em auto;
    padding:2.5em 1em 3em 1em;
    -moz-box-shadow:4px 12px 10px #444;
    -webkit-box-shadow:4px 12px 10px #444;
    box-shadow:4px 12px 10px #444;
    -moz-border-radius:10px;
    border-radius:10px;
    -moz-border-top-left-radius:0;
    border-top-left-radius:0;
}

#content h1,#search-results h1 {
    clear:left;
    font-size:2em;
    font-weight:700;
    margin-top:1em;
}

#content h2,#search-results h2 {
    clear:left;
    font-size:1.6em;
    font-weight:700;
    margin-top:1.5em;
}

#content h3,#search-results h3 {
    clear:left;
    font-size:1.4em;
    font-weight:700;
    margin-top:1.5em;
}

#content h4,#search-results h4 {
    font-size:1.2em;
    clear:left;
    font-weight:700;
    margin-top:1.5em;
}

#content h5,#search-results h5 {
    font-size:1.1em;
    clear:left;
    font-weight:700;
    margin-top:1.5em;
}

#content h6,#search-results h6 {
    font-size:1em;
    clear:left;
    font-weight:700;
    margin-top:1.5em;
}

#content pre,#search-results pre {
    margin-top:1em;
    overflow:auto;
    background-color:#FFFBEA;
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    border:1px solid;
    -moz-border-radius:10px;
    border-radius:10px;
    border-color:#E0E0E0;
    padding:.75em .5em;
}

#content pre#captcha {
    background-color:#FFF;
    border: none;
    padding:0;
    margin:0;
}

#content tt,#search-results tt {
    font-size:.9em;
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
}

#content ol,#content ul,#search-results ol,#search-results ul {
    margin-left:1.5em;
    margin-top:1em;
}

#content ol li,#content ul li,#search-results ol li,#search-results ul li {
    list-style-position:outside;
    margin-top:.2em;
}

#content ol li ol,#content ol li ul,#content ul li ol,#content ul li ul,#search-results ol li ol,#search-results ol li ul,#search-results ul li ol,#search-results ul li ul {
    margin-top:0;
}

#content ul li,#search-results ul li {
    list-style-type:disc;
}

#content ol li,#search-results ol li {
    list-style-type:decimal;
}

#content dl dt,#search-results dl dt {
    font-weight:700;
    margin-top:.5em;
}

#content dl dd,#search-results dl dd {
    margin-left:1em;
}

#content table,#search-results table {
    border-spacing:0;
    font-size:1em;
    width:100%;
}

#content table tr.odd,#search-results table tr.odd {
    background:#EDECEB;
}

#content table th,#search-results table th {
    text-align:left;
    font-weight:700;
    font-size:1em;
    padding:.2em 1em .2em .2em;
}

#content table td,#search-results table td {
    padding:.2em;
}

#content ol.pager,#search-results ol.pager {
    list-style-type:none;
    display:block;
    text-align:center;
    margin:2em 0 0;
    padding:0;
}

#content ol.pager li,#search-results ol.pager li {
    display:inline;
    margin:0 .2em;
}

#content form label {
    display:block;
    margin-top:1em;
}

#content form textarea {
    width:99%;
}

#content form #auth-checkbox {
    float:left;
    margin-right:.5em;
    margin-top:.2em;
}

#content .definition {
    display:block;
    margin-top:1em;
    background:#FFC;
    -moz-border-radius:7px;
    border-radius:7px;
    border-color:#FFD06A;
    padding:.4em;
}

#content .definition em {
    font-style:normal;
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:700;
    color:#444;
}

#content > .definition {
    margin-top:2em;
}

#content > .definition + .definition {
    margin-top:.25em;
}

#content .highlight {
    background-color:#FFFBEA;
}

#content .highlight .symbol,#content .highlight .default,#content .highlight .comment {
    background-color:#FFFBEA;
    font-weight:400;
    color:#59443C;
}

#content .highlight i {
    font-style:normal;
}

#content .highlight i .symbol {
    color:#B64926;
}

#content .highlight .paren1,#content .highlight .paren2,#content .highlight .paren3,#content .highlight .paren4,#content .highlight .paren5,#content .highlight .paren6 {
    background-color:inherit;
}

#content .highlight .paren1:hover,#content .highlight .paren2:hover,#content .highlight .paren3:hover,#content .highlight .paren4:hover,#content .highlight .paren5:hover,#content .highlight .paren6:hover {
    font-weight:700;
    color:#FFF;
}

#content .highlight .paren1:hover {
    background-color:#DB7859;
}

#content .highlight .paren2:hover {
    background-color:#1B804C;
}

#content .highlight .paren3:hover {
    background-color:#9F214E;
}

#content .highlight .paren4:hover {
    background-color:#DBA059;
}

#content .highlight .paren5:hover {
    background-color:#B64926;
}

#content .highlight .paren6:hover {
    background-color:#64A422;
}

#content .highlight .comment {
    font-style:italic;
    color:#8C8281;
}

#search {
    font-size:.8em;
    position:absolute;
    right:4em;
    top:6.4em;
    z-index:3;
    text-transform:capitalize;
}

#search form {
    text-align:right;
    position:relative;
}

#search form input,#search form label {
    margin-left:.5em;
    -moz-border-radius:4px;
    border-radius:4px;
}

#search form a {
    display:inline-block;
    margin-left:1em;
}

ul#page-specific-links {
    font-size:.8em;
    position:absolute;
    top:6.7em;
    left:3.7em;
    z-index:3;
}

ul#page-specific-links li {
    display:inline;
    padding:.1em;
}

ul.tags {
    position:absolute;
    bottom:.5em;
    right:1em;
    list-style-type:none;
    font-size:.8em;
}

del,ins,#toc a,#menu ul li a,ul#page-specific-links li a {
    text-decoration:none;
}

sup,sub {
    vertical-align:baseline;
}

a:link,#menu ul li a:visited,#content .highlight .string {
    color:#9C4320;
}

#toc ol li,#content form textarea,#content form input {
    display:block;
}

#content p,#search-results p,#content dl,#search-results dl,#content form #actions {
    margin-top:1em;
}

#content form #actions input,ul.tags li {
    display:inline;
}